header {
    border-bottom: 1px solid #fc7089;
    font-size: 100%;
    padding: 0.5em 1em;
    display: flex;
    flex-flow: row wrap;
    gap: 0.5em;
    justify-content: space-between;
    align-items: end;
}

header>* {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5em;
    justify-content: space-between;
}

header>h2 {
    margin: 0 3em 0 0;
    font-size: 100%;
}

header p {
    margin: 0;
}

header>nav>p {
    margin: 0 1em;
}

header a {
    text-decoration: none;
    color: #222;
    padding: 0.2em 0;
}

header a:hover {
    text-decoration: underline;
    text-decoration-color: #fc7089;
    text-decoration-thickness: 0.3em;
}

header>.badges a>img {
    display: block;
}

main {
    min-height: 100vh;
    padding: 2em;
    background: repeating-radial-gradient(circle at top, #eee, #12a5ed);
}

#demo>._chartistry {
    background-color: #fff;
    border: 1px solid #000;
    margin: 0 auto;
}

#demo>.outer {
    margin: 2em auto;
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

fieldset {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0.5em;
    padding: 0.5em 1em 1em 1em;
    display: grid;
    grid-template-columns: max-content 1fr repeat(3, min-content);
    align-items: baseline;
}

fieldset>legend {
    background-color: #fff;
    border-bottom: 0.2em solid #fc7089;
    padding: 0.2em;
}

fieldset>h3 {
    grid-column: 2 / -1;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    align-self: end;
    padding: 0.2em 0.5em;
}

fieldset>p {
    display: contents;
}

fieldset>p> :nth-child(1) {
    grid-column: 1;
    text-align: right;
}

fieldset>p> :nth-child(2) {
    grid-column: 2;
    padding: 0.2em 0.5em;
}

fieldset>p> :nth-child(3) {
    grid-column: 3;
}

fieldset>p> :nth-child(4) {
    grid-column: 4;
}

fieldset>p> :nth-child(5) {
    grid-column: 5;
}

fieldset input[type=number] {
    width: 8ch;
}

fieldset input[type=color] {
    width: 6ch;
    height: 1.6em;
}

.background-box {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0.5em;
    padding: 1em;
}

#examples h2 {
    background-color: #fff;
    border-bottom: 0.2em solid #fc7089;
    padding: 0.2em;
    width: fit-content;
}

#examples .cards {
    margin: 2em 0;
    display: flex;
    flex-flow: row wrap;
    gap: 2em 1em;
}

#examples .cards>figure {
    margin: 0;
    width: calc(300px + 2.5em);
}

#examples .cards>figure>figcaption {
    margin-top: -2em;
}

#examples dialog {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0.5em;
    padding: 0;
}

#examples dialog>pre {
    margin: 0;
    padding: 5em;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.75);
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    background-color: #fff;
    border-bottom: 0.2em solid #fc7089;
    margin: 0;
    padding: 0.2em;
    width: fit-content;
}